

:root {
	/* --main-theme: #0077CC; */
	--main-theme: #0db4de;
	--font-color: #ffffff;
	--background: linear-gradient(to bottom right, var(--main-theme), var(--font-color));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	background: var(--background);
	background-repeat: no-repeat;
	min-height: 100vh;
	margin: 0;
}