.container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.toprightmenu {
    width: 55px;
    height: 50px;
    float: right;
    margin-top: 1.5rem;
    margin-right: 2.2rem;
  }

.headercontainerlogo {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.avatarChoice:hover{
    border: 4px solid white;
   }


  
  